*.iml
*.ap_
*.apk
*.log
*.dex
.DS_Store
.externalNativeBuild
.gradle
/local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.iml
/build
/captures
/generated_apks
/app/build
bin/
.cxx
local.properties
obj/